<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Team One</title>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.HTML">Team One</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signing.html">Sign In</a>
        </div>
      </header>
    </div>
  </head>
  <body>
    <div>
      <aside class="sidebar">
        Shopping Categories
        <button class="sidebar-close-button" onclick="closeMenu()">x</button>
        <ul>
          <li>
            <a href="Index.html">Pants</a>
          </li>
          <li>
            <a href="Index.html">Shirts</a>
          </li>
        </ul>
      </aside>
      <main class="content">
        <div class="content">
          <ul class="products">
            <li class="product">
              <div class="product">
                <img src="images/d1.jpg" alt="product" class="product-image" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews )</div>
              </div>
            </li>
            <li class="product">
              <div class="product">
                <img src="images/d1.jpg" alt="product" class="product-image" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews )</div>
              </div>
            </li>
            <li class="product">
              <div class="product">
                <img src="images/d1.jpg" alt="product" class="product-image" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews )</div>
              </div>
            </li>
            <li class="product">
              <div class="product">
                <img src="images/d1.jpg" alt="product" class="product-image" />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews )</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">&copy; 2024 Team One</footer>
    </div>
  </body>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open");
    }
  </script>
</html>
